# Environment variables
.env
.env.local
.env.*

# Jekyll
.sass-cache
.jekyll-cache
.jekyll-metadata
_site/
vendor/

# System files
.DS_Store

# Local Netlify folder
.netlify

# Dependencies
node_modules/

# Build outputs
build/
