<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-EKVJPJXV5K"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-EKVJPJXV5K');
</script>

<!DOCTYPE html>
<html>
<head>
    <title>{{ page.title }}</title>
    <style>
        body {
            max-width: 800px;
            margin: 0 auto;
            padding: 20px;
            font-family: sans-serif;
        }
        header, footer {
            text-align: center;
            padding: 20px 0;
        }
        main {
            margin: 20px 0;
        }
    </style>
<head>
    <!-- 其他标签 -->
    <link rel="stylesheet" href="{{ '/assets/css/custom.css' | relative_url }}">
</head>

<body>
    <header>
        <h1>Jason's Blog</h1>
    </header>

    <main>
        {{ content }}
    </main>

    <footer>
        <p>&copy; 2024 Jason's Blog</p>
    </footer>
</body>
</html>