---
layout: post
---

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ page.title | escape }}</title>

  <!-- MathJax -->
  <script type="text/javascript" async
    src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.7/MathJax.js?config=TeX-MML-AM_CHTML">
  </script>
  <script type="text/x-mathjax-config">
    MathJax.Hub.Config({
      tex2jax: {
        inlineMath: [["$", "$"], ["\\(", "\\)"]],
        displayMath: [["$$", "$$"], ["\\[", "\\]"]],
        processEscapes: true
      },
      "HTML-CSS": {
      scale: 70  // 调整公式字体大小，默认 100（百分比）
      },
      CommonHTML: {
      scale: 70  // 如果使用 CommonHTML 输出，也需要设置
      }
    });
  </script>

  <!-- Custom CSS -->
  <link rel="stylesheet" href="{{ '/assets/css/custom.css' | relative_url }}">
</head>

<body class="post-layout">
<!--     Header -->
    <header class="header">
      <div class="container">
        <span class="logo">🌟 Jason's Blog</span>
        <nav class="nav">
          <ul>
            {% for item in site.data.navigation %}
              <li><a href="{{ item.url | relative_url }}">{{ item.title }}</a></li>
            {% endfor %}
          </ul>
        </nav>
      </div>
    </header>

    <article>
        <h1>{{ page.title }}</h1>
        <div class="post-meta">
          <span class="post-date">Date: {{ page.date | date: "%B %d, %Y" }}</span> |
          <span class="reading-time">Estimated Reading Time: {{ page.reading_time | default: '5 min' }}</span> |
          <span class="post-author">Author: {{ page.author | default: 'Unknown' }}</span>
        </div>
        <main class="container">
            {{ content }}
        </main>
        {% if page.tags %}
        <div class="tags">
            标签:
            {% for tag in page.tags %}
            <span class="tag">{{ tag }}</span>
            {% endfor %}
        </div>
        {% endif %}
    </article>
    <!-- Footer -->
    <footer class="footer">
      <p>&copy; {{ site.time | date: "%Y" }} {{ site.title }}</p>
    </footer>

    <!-- Custom JavaScript -->
    <script src="{{ '/assets/js/main.js' | relative_url }}"></script>
</body>
<!--<script src="{{ '/assets/js/main.js' | relative_url }}"></script>-->

<!--&lt;!&ndash;<link rel="stylesheet" href="{{ '/assets/main.css' | relative_url }}">&ndash;&gt;-->
<!--<link rel="stylesheet" href="{{ '/assets/css/custom.css' | relative_url }}">-->
</html>