---
layout: post
---

<body class="post-layout">
<!--     Header -->
    <header class="header">
      <div class="container">
        <span class="logo">🌟 Jason's Blog</span>
        <nav class="nav">
          <ul>
            {% for item in site.data.navigation %}
              <li><a href="{{ item.url | relative_url }}">{{ item.title }}</a></li>
            {% endfor %}
          </ul>
        </nav>
      </div>
    </header>

    <article>
        <h1>{{ page.title }}</h1>
        <div class="post-meta">
          <span class="post-date">Date: {{ page.date | date: "%B %d, %Y" }}</span> |
          <span class="reading-time">Estimated Reading Time: {{ page.reading_time | default: '5 min' }}</span> |
          <span class="post-author">Author: {{ page.author | default: 'Unknown' }}</span>
        </div>
        <main class="container">
            {{ content }}
        </main>
        {% if page.tags %}
        <div class="tags">
            标签:
            {% for tag in page.tags %}
            <span class="tag">{{ tag }}</span>
            {% endfor %}
        </div>
        {% endif %}
    </article>
    <!-- Footer -->
    <footer class="footer">
      <p>&copy; {{ site.time | date: "%Y" }} {{ site.title }}</p>
    </footer>
</body>


<link rel="stylesheet" href="{{ '/assets/main.css' | relative_url }}">
<link rel="stylesheet" href="{{ '/assets/css/custom.css' | relative_url }}">